footer{
    margin-top: 103px;
    font-family: 'Montserrat';

    .center{
        margin-top: 105px;
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        color: #727272;
        font-weight: 300;

    }

    img{
        display: block;
        margin: 40px auto;
    }
}
@media screen and (max-width:560px){
    footer{
        margin-top: 20px;
    }
}
.footer_naw, .footer_naw_mob{
    display: flex;
    justify-content: space-between;
    .item{
        width:calc(20%-95px);
        .name{
            position: relative;
            font-size: 15px;
            line-height:20px;
            color:#575153;
            font-weight: 700;
            text-transform: uppercase;
        }

        a,
        span{
            font-size:14px;
            line-height: 30px;
            color:#727272;
            font-weight:300;
        }

        .phon_email_ofice{
            font-size: 14px;
            line-height:30px;
            color: #000;
            font-weight: 700;
            display: inline-block;
        }

        .email{
            margin-top: -15px;
        }

        .ofice{
            width: 250px;
        }

        .list_active{
            display: block;
        }
        
    }

}

.footer_naw_mob{
    display: none;

    .item{
        margin-bottom: 20px;
        border-bottom: 1px #575153 solid;

        &::before{
            content: "";
            position: absolute;
            right: 50px;
            width: 8px;
            height: 8px;

            border-bottom: 1px solid #000;
            border-left: 1px solid #000;

            transform: rotate(-45deg);
            transition: all .3s;
        }

        .list{
            padding-bottom: 20px;
        }
    }
}

.footer_naw_mob .item_active{
    &::before{
        transform: rotate(135deg);
    }
}



@media screen and (max-width:915px){
    .footer_naw{
        display: none;
    }

    .footer_naw_mob{
        display: block;
        flex-wrap: wrap;
        .item{
            width: 100%;
        }
        .list{
            display: none;
        }
    }
}