//start sliders

.featured_products{
    margin-top: 95px;
    margin-bottom: 64px;

    .sections{
        margin-top: 53px;

        .tabs-triggers-item_02{
            margin: 0 25px;
            font-size: 19px;
            letter-spacing: 2px;
            color: #2b2b17;
            font-weight: 600;
            font-family: 'Montserrat';
        }
    
        .tabs-triggers-item_02--active{
            text-decoration: underline;
        }
    }

    .buttons_block{
        margin-top: 50px;
    }
    
    .button{
        background-color: #FFF;
        color: #1a1a1a;
        border: 2px solid #d9c8aa;
    
        &:hover{
            background-color: #d9c8aa;
        }
    }
}

.featured_products_slider{
    margin-top: 52px;

    .featur_prod_s_item{
        overflow: hidden;
        margin: 0 15px;

        .image{
            display: block;
            position: relative;
            height: 388px;
            img{
                object-fit: cover;
                object-position: top;
                width: 100%;
                height: 100%;
            }
        }
        .text{
            display: block;
            font-family: 'Montserrat';
            font-size: 15px;
            text-align: left;

            padding-top: 30px;

            .title{
                color: #1a1a1a;
                font-weight: 700;
            }

            .brend{
                margin-top: -12px;
                font-weight: 400;
                color: #898989;
            }

            .prise_no{
                text-decoration: line-through;
                font-weight: 400;
                color: #1a1a1a;
            }

            .prise{
                font-weight: 700;
            }

            .prise, .prise_no{
                display: inline;
            }

            &:hover{
                text-decoration: none;
            }
        }
    }
}

.featured_products_item{
    display: none;
}
.featured_products_item--active{
    display: block;
}



@media screen and (max-width:996px){
    .featured_products{
        .sections{
            .tabs-triggers-item_02{
                margin: 0 15px;
                
            }
        }
    } 
}
@media screen and (max-width:996px){
    .featured_products {
        .sections{
            .tabs-triggers-item_02{
                display: inline-block;
                margin: 0 15px 15px;
            }
        }
    }
}
@media screen and (max-width:560px){
    .featured_products{
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
/*//////news_blog/////////////////////*/
.blog_and_news{
    margin-top: 103px;
}
@media screen and (max-width:560px){
    .blog_and_news{
        margin-top: 20px;
    }
}
.blog_news_slider{
    position: relative;
    margin-top: 54px;
    .item{
        overflow: hidden;
        margin: 0 12.5px;
        position: relative;
        display: block;
        height: 425px;
        box-sizing: border-box;
        .img{
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 379px;

            img{
                object-fit: cover;
                object-position: center top;
                width: 100%;
                height: 100%;
            }
        }
        .text{
            box-sizing: border-box;
            width: 500px;
            margin-left: -250px;
            left: 50%;
            padding: 25px 40px 17px;
            position: absolute;
            bottom: 0;
            background-color: #FFF;
            .news_title{
                font-size: 18px;
                font-family: 'Montserrat';
                letter-spacing: 1px;
                color: #2d2b27;
                font-weight: 600
            }
            p:nth-child(2){
                font-size: 14px;
                color: #7d7d7d;
                font-weight: 400;
                font-style: italic;
                margin-top: -16px;
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width:1051px){
    .blog_news_slider .item{
        .text{
            padding: 25px 60px 17px;
        }
    }
}
@media screen and (max-width:1002px){
    .blog_news_slider .item{
        height: auto;
        .text{
            padding: 25px 5px 17px;
            position: static;
            width: 100%;
            margin-left: 0px;
            left: 0%;
        }
    }
}

//end sliders